# Django Security Settings
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=your-app-name.onrender.com,localhost

# Database Settings
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_Q9xJDLmiY4wK
DB_HOST=ep-purple-cell-amc3l0nf-pooler.c-5.us-east-1.aws.neon.tech